<% @people.each do |person| %>
  <%= link_to(
        image_tag(
          person.image_url,
          style: "top:#{728 - person.top}px;left:#{person.left}px",
          alt: person.name,
          title: person.name
        ),
        mood_path(person)
      )%>
<% end %>
<br />
<table border='0'>
  <tr>
    <td>
      <%= button_to 'add person', new_mood_path, method: 'get' %>
    </td>
    <td>
      <%= button_to 'view board', board_index_path, method: 'get' %>
    </td>
  </tr>
</table>