@import "jquery-ui/draggable"

img
  position: absolute
  opacity: 0.5
  filter: alpha(opacity=40)

#board
  background-image: image-url('board.jpg')
  background-repeat: no-repeat
  background-position: 0px 0px
  width: 1024px
  height: 768px
  padding: 10px 10px 10px 10px