img {
  /* Safari 3-4, iOS 1-3.2, Android 1.6- */
  -webkit-border-radius: 12px; 

  /* Firefox 1-3.6 */
  -moz-border-radius: 12px; 
  
  /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
  border-radius: 12px;

  position: absolute;
  opacity: 0.5;
  filter: alpha(opacity=40); /* For IE8 and earlier */
  width: 40px;
  height: 40px;
}

body {
  background-image: image-url('board.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 0px 0px;
}